.Rproj.user
.Rhistory
.RData
.Ruserdata
InsectEye2025.Rproj
DailyTotalInsectAbundace7172025.png
RealTimeInsectAbundaceByOrder7172025.png
TotalInsectAbundanceOverTime7172025.png
InsectOrderAbundanceByDay7172025.png
weather_data_old.csv
weather_data.csv
